Repository duo-dinamico/brand-microservices, pull requests merged in 2023-03, with the labels that each got.

#82 Changed docker compose to fix volumes in production.
  docker-compose.yaml
Labels: enhancement

#84 feat: sqlalchemy 2-0
  Makefile
  apis/brand_api/db/database.py
  apis/brand_api/db/models.py
  apis/brand_api/main.py
  apis/brand_api/tests/conftest.py
  apis/brand_api/tests/test_app.py
  pyproject.toml
Labels: enhancement

#94 Feature/ignore traefik cd
  traefik.prod.toml
Labels: enhancement

#98 doc: Completed readme and add some description for OpenAPI
  README.md
  apis/brand_api/main.py
Labels: documentation

#99 feat: Added username to the user model
  apis/brand_api/crud.py
  apis/brand_api/db/migrations/versions/0004_add_username_to_users.py
  apis/brand_api/db/models.py
  apis/brand_api/dependencies.py
  apis/brand_api/main.py
  apis/brand_api/routers/users.py
  apis/brand_api/schemas.py
  apis/brand_api/tests/conftest.py
  apis/brand_api/tests/test_user.py
Labels: enhancement

#100 feat: categories validation
  apis/brand_api/crud.py
  apis/brand_api/main.py
  apis/brand_api/routers/categories.py
  apis/brand_api/schemas.py
  apis/brand_api/tests/test_categories.py
Labels: enhancement

#104 feat: added validation to users
  apis/brand_api/dependencies.py
  apis/brand_api/main.py
  apis/brand_api/routers/brands.py
  apis/brand_api/routers/categories.py
  apis/brand_api/routers/users.py
  apis/brand_api/schemas.py
  apis/brand_api/tests/conftest.py
  apis/brand_api/tests/test_user.py
Labels: enhancement

#105 feat: added validation to brands
  apis/brand_api/crud.py
  apis/brand_api/main.py
  apis/brand_api/routers/brands.py
  apis/brand_api/schemas.py
  apis/brand_api/tests/test_brand.py
  pyproject.toml
Labels: enhancement

#107 feat: show user object in create by, updated by and deleted by
  Makefile
  apis/brand_api/crud.py
  apis/brand_api/db/migrations/versions/0005_update_ownership_fields.py
  apis/brand_api/db/models.py
  apis/brand_api/routers/brands.py
  apis/brand_api/routers/categories.py
  apis/brand_api/routers/users.py
  apis/brand_api/schemas.py
  apis/brand_api/tests/conftest.py
  apis/brand_api/tests/test_brand.py
  apis/brand_api/tests/test_categories.py
  apis/brand_api/tests/test_user.py
  pyproject.toml
Labels: enhancement

#109 fix schemas and response for users
  apis/brand_api/crud.py
  apis/brand_api/routers/users.py
  apis/brand_api/schemas.py
  pyproject.toml
Labels: bug

#111 ci: new labels for refactor and release
  .github/pr-labeler.yml
  README.md
  pyproject.toml
Labels: workflow

#112 Added to CI write the version to myproject
  .github/workflows/brand_cd.yml
Labels: workflow

#115 changed myproject to pyproject
  .github/workflows/brand_cd.yml
Labels: bug

#114 refactor: updated user models to show deleted by and updated by
  apis/brand_api/crud.py
  apis/brand_api/db/migrations/versions/0006_update_user_foreign_keys.py
  apis/brand_api/db/models.py
  apis/brand_api/routers/users.py
  pyproject.toml
Labels: refactor

#118 fix: introduced a trial user
  .github/workflows/brand_cd.yml
  README.md
  apis/brand_api/main.py
  apis/brand_api/routers/users.py
  apis/brand_api/schemas.py
  docker-compose.yaml
Labels: bug

#119 refactor: refactored docker compose to repeat less code
  Makefile
  docker-compose.base.yaml
  docker-compose.dev.yaml
  docker-compose.prod.yaml
  docker-compose.test.yaml
  docker-compose.yaml
  pyproject.toml
Labels: refactor

#123 fix: fixed test errors by rebuilding container. updated toml syntax
  pyproject.toml
Labels: bug

#125 refactor: updated readme. removed toml version update from cd
  .github/workflows/brand_cd.yml
  README.md
  pyproject.toml
Labels: refactor

#126 updated database models. updated schemas. updated tests
  apis/brand_api/db/migrations/versions/0007_remodel_brands_with_socials.py
  apis/brand_api/db/models.py
  apis/brand_api/routers/brands.py
  apis/brand_api/schemas.py
  apis/brand_api/tests/conftest.py
  apis/brand_api/tests/test_brand.py
  apis/brand_api/tests/test_categories.py
  apis/brand_api/tests/test_user.py
  pyproject.toml
Labels: enhancement

#127 Feature/logging
  apis/brand_api/Dockerfile
  apis/brand_api/crud.py
  apis/brand_api/main.py
  apis/brand_api/utils/log.ini
  apis/brand_api/utils/logging.py
Labels: enhancement

#128 feature: new social endpoints
  Makefile
  apis/brand_api/crud.py
  apis/brand_api/db/models.py
  apis/brand_api/main.py
  apis/brand_api/routers/brand_id_socials.py
  apis/brand_api/routers/brands.py
  apis/brand_api/routers/socials.py
  apis/brand_api/schemas.py
  apis/brand_api/tests/conftest.py
  apis/brand_api/tests/test_brand.py
  apis/brand_api/tests/test_brand_socials.py
  apis/brand_api/tests/test_categories.py
  apis/brand_api/tests/test_socials.py
  pyproject.toml
Labels: enhancement
