Repository duo-dinamico/brand-microservices, pull requests merged in 2023-01, with the labels that each got.

#21 Feature/some tweaks
  .ci/docker-compose.yml
  Makefile
  alembic.ini
  apis/brand_api/crud.py
  apis/brand_api/db/database.py
  apis/brand_api/db/migrations/env.py
  apis/brand_api/dependencies.py
  apis/brand_api/main.py
  apis/brand_api/schemas.py
  apis/brand_api/tests/conftest.py
  apis/brand_api/tests/test_app.py
  apis/brand_api/tests/test_brand.py
  apis/brand_api/tests/test_main.py
  apis/brand_api/tests/test_user.py
  docker-compose.yaml
  pyproject.toml
Labels: enhancement

#27 Improved some typing in crud.
  apis/brand_api/crud.py
Labels: brand

#28 Feature/delete categories
  apis/brand_api/crud.py
  apis/brand_api/main.py
  apis/brand_api/tests/test_categories.py
Labels: brand

#29 Wrong category price got internal error. Made a validation and a test.
  apis/brand_api/schemas.py
  apis/brand_api/tests/test_categories.py
Labels: brand

#30 Added route to delete brand
  Makefile
  Todo.md
  apis/brand_api/crud.py
  apis/brand_api/main.py
  apis/brand_api/schemas.py
  apis/brand_api/tests/test_app.py
  apis/brand_api/tests/test_brand.py
  apis/brand_api/tests/test_categories.py
  apis/brand_api/tests/test_user.py
  docker-compose.yaml
Labels: brand

#31 Added the delete user. Needed to remake the read_user function.
  .github/labeler.yml
  Todo.md
  apis/brand_api/crud.py
  apis/brand_api/main.py
  apis/brand_api/tests/test_user.py
Labels: brand, brand_api

#32 Update to todo
  Todo.md
Labels: enhancement

#34 Feature/update brand
  apis/brand_api/crud.py
  apis/brand_api/main.py
  apis/brand_api/schemas.py
  apis/brand_api/tests/test_brand.py
Labels: enhancement, brand_api

#35 Changed from labeler to pr-labeler.
  .github/labeler.yml
  .github/pr-labeler.yml
  .github/workflows/brand_microservices_ci.yml
Labels: workflow

#36 feature: added patch user route
  Todo.md
  apis/brand_api/crud.py
  apis/brand_api/main.py
  apis/brand_api/schemas.py
  apis/brand_api/tests/test_user.py
Labels: enhancement

#37 Feature/timestamp and ownership
  Todo.md
  apis/brand_api/crud.py
  apis/brand_api/db/migrations/versions/0003_timestamp.py
  apis/brand_api/db/models.py
  apis/brand_api/dependencies.py
  apis/brand_api/main.py
Labels: enhancement

#39 feat: secrets moved to github
  .github/workflows/brand_microservices_ci.yml
  README.md
  Todo.md
  docker-compose.yaml
Labels: enhancement

#40 feat: makefile downs container before building
  Makefile
  Todo.md
Labels: enhancement

#41 Give some color to the readme.
  README.md
Labels: enhancement
