Repository duo-dinamico/brand-microservices, pull requests merged in 2023-02, with the labels that each got.

#42 feat: timestamp and ownership to category
  Todo.md
  apis/brand_api/crud.py
  apis/brand_api/main.py
  apis/brand_api/schemas.py
  apis/brand_api/tests/conftest.py
  apis/brand_api/tests/test_categories.py
Labels: enhancement

#43 feat: added timestamps and ownership to brands
  Todo.md
  apis/brand_api/crud.py
  apis/brand_api/main.py
  apis/brand_api/schemas.py
  apis/brand_api/tests/conftest.py
  apis/brand_api/tests/test_brand.py
Labels: enhancement

#44 feat: timestamp and ownership of users
  Todo.md
  apis/brand_api/crud.py
  apis/brand_api/db/models.py
  apis/brand_api/main.py
  apis/brand_api/schemas.py
  apis/brand_api/tests/conftest.py
  apis/brand_api/tests/test_user.py
Labels: enhancement

#45 feat: new dict response with a list of brands
  Todo.md
  apis/brand_api/main.py
  apis/brand_api/schemas.py
  apis/brand_api/tests/conftest.py
  apis/brand_api/tests/test_brand.py
  apis/brand_api/tests/test_categories.py
  apis/brand_api/tests/test_user.py
Labels: enhancement

#46 Feature/categories response
  Todo.md
  apis/brand_api/main.py
  apis/brand_api/schemas.py
  apis/brand_api/tests/test_categories.py
Labels: enhancement

#48 Feature/show deleted
  Todo.md
  apis/brand_api/crud.py
  apis/brand_api/main.py
  apis/brand_api/tests/test_brand.py
  apis/brand_api/tests/test_categories.py
  apis/brand_api/tests/test_user.py
Labels: enhancement

#50 added deploy yml
  .github/workflows/brand_cd.yml
  .github/workflows/brand_ci.yml
Labels: enhancement

#55 Added a new arg in make for the deployment.
  .github/workflows/brand_cd.yml
  Makefile
Labels: enhancement

#49 feat: update dependencies
  Todo.md
  apis/brand_api/tests/test_brand.py
  apis/brand_api/tests/test_categories.py
  apis/brand_api/tests/test_user.py
  pyproject.toml
Labels: enhancement

#59 Limit PR
  .github/pr-limit.yml
  README.md
  Todo.md
Labels: workflow

#62 Moved pr_limit to workflow.
  .github/workflows/pr_limit.yml
Labels: workflow

#66 Fixed bug in POST Login
  Todo.md
  apis/brand_api/main.py
  apis/brand_api/tests/test_user.py
Labels: bug

#67 feat: ability to read one category
  Todo.md
  apis/brand_api/crud.py
  apis/brand_api/main.py
  apis/brand_api/tests/test_categories.py
Labels: enhancement

#68 feat: ability to read one user
  Todo.md
  apis/brand_api/crud.py
  apis/brand_api/main.py
  apis/brand_api/tests/test_user.py
Labels: enhancement

#69 feat: ability to read one brand
  apis/brand_api/crud.py
  apis/brand_api/main.py
  apis/brand_api/tests/test_brand.py
Labels: enhancement

#70 doc: update todo and readme
  README.md
Labels: documentation

#71 doc: develop added to pre commit
  .pre-commit-config.yaml
Labels: documentation

#73 Production ready.
  Makefile
  apis/brand_api/Dockerfile
  docker-compose.yaml
  pyproject.toml
Labels: enhancement

#75 Deploy to production.
  .github/workflows/brand_cd.yml
Labels: enhancement

#78 fix: database docker issues
  .github/workflows/brand_cd.yml
  .github/workflows/brand_ci.yml
  docker-compose.yaml
Labels: bug
